
.vs/slnx.sqlite
.vs/Crud-paginaweb-modeloEnCapas-ASP-CSHARP/FileContentIndex/9b5ae1b8-34f1-4b39-9457-d2c69a6ef34e.vsidx
.vs/Crud-paginaweb-modeloEnCapas-ASP-CSHARP/v17/.wsuo
.vs/Crud-paginaweb-modeloEnCapas-ASP-CSHARP/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/slnx.sqlite
WebApplication1/.vs/WebApplication1/config/applicationhost.config
WebApplication1/.vs/WebApplication1/FileContentIndex/0898eea0-d0f0-43fe-993f-f0edcbfaa00b.vsidx
/WebApplication1/.vs/WebApplication1/config
/WebApplication1/.vs/WebApplication1/FileContentIndex
/WebApplication1/.vs/WebApplication1/FileContentIndex
/WebApplication1/.vs/WebApplication1
/WebApplication1/.vs
WebApplication1/.vs/WebApplication1/FileContentIndex/31a2a740-190a-4ede-8a4e-52c83e6e43b8.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/0898eea0-d0f0-43fe-993f-f0edcbfaa00b.vsidx
/WebApplication1/.vs/WebApplication1/config
WebApplication1/.vs/WebApplication1/config/applicationhost.config
